body {
  background-color: #F9F7F6;
  font-family: Georgia, serif;
  width: 100%;
  margin: auto;
  position: relative;

@media only screen and (min-width : 768px) {
  width: 75%;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  width: 50%;
}
}

/* Navigation */

.navLink {
  text-align: center;
  align-items: center;
  position: absolute;
  right: 77%;
  margin: 2%;
  width: auto;
}

.navLink :hover {
  color: #A56D8E;
}

.navLink :active {
  color: #AAB8C6;
}

.navbar {
  overflow: hidden;
  padding-left:5%;
  padding-right:5%;
  padding-top: 2%;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  top: 100%;
  width: 100%;
}

.navbar a:hover {
  color: #ACA5AE;
}

/* Footer */

.footer {
  text-align: center;
  margin: auto;
  
}

.linkedin :hover{
  opacity: 80%;
  color: #3D2C8D;
}

.github :hover{
  opacity: 80%;
  color: #3D2C8D;
}

.mail :hover{
  opacity: 80%;
  color: #3D2C8D;
}

/* Home Page */

.home-container {
  overflow: hidden;
  position: absolute;

  @media only screen and (min-width : 768px) {
    width: 75%;
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
  }
}

.header-name {
  position: absolute;
  text-align: center;
  bottom: 55%;
  left:50%;
  font-size: 900%;
  line-height: 100%;
  color: #F9F7F6;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: inline;
}

.header-subtitle {
  position: absolute;
  text-align: right;
  bottom: 55%;
  right: 5%;
  font-size: 200%;
  color: #E0E0EC;
}

.home-photo {
  text-align: center;
}

.home-photo {
    width: 100%;
    height: 50%;
    opacity: 90%;
    position: relative;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(50%)
}

/* About Page */

.about-body {
  bottom: 60%;
}

.about-top {
  width: 50%;
  word-wrap: break-word;
  text-align: center;
  position: relative;
  left: 25%;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  padding-bottom: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: #DFCDC3;;
}

.about-bottom {
  width: 50%;
  word-wrap: break-word;
  text-align: center;
  position: relative;
  top: 30%;
  left: 25%;
  text-align: center;
  margin-bottom: 5%;
  background-color: #DFCDC3;;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.office-photo {
  height: 40%;
  width: 45%;
  justify-content: center;
  position: relative;
  margin: 3%;
  bottom: 15%;
  left: 25%;
}

.about-heading {
  font-size: 200%;
  font-weight: 100%;
  padding: 5%;
}

.about-subheading {
  font-size: 200%;
  font-weight: 100%;
  padding: 5%;
}

.about-images {
  position: relative;
  bottom: 30%;
  word-wrap: break-word;
  text-align: center;
  margin: 5%;
}

.banff-photo {
  height: 40%;
  width: 30%;
  margin-right: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position: relative;
}

.jedi-photo {
  height: 40%;
  width: 30%;
  margin-right: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position: relative;
}

.scotland-photo {
  height: 40%;
  width: 30%;
  position: relative;
  margin-right: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Resume Page */

.tech-ed {
  width: 25%;
  word-wrap: break-word;
  margin: 5%;
  position: relative;
  bottom: 50%;
  float: left;
  margin: 5%;
  margin-top: 10%;
  left: 10%;
}

.other-ed {
  width: 25%;
  word-wrap: break-word;
  position: relative;
  bottom: 50%;
  right: 5%;
  margin: 5%;
  float: right;
}

.code2 {
  height: 40%;
  width: 45%;
  justify-content: right;
  position: relative;
  left: 15%;
  bottom: 60%;
  margin-top: 10%;
  margin-bottom: 5%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.study1 {
  height: 40%;
  width: 45%;
  justify-content: left;
  position: relative;
  left: 10%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.resume-title {
  color: #0C4271;
}

.resume-sub {
  color: #393E46
}

/* Contact Page */

h5 {
  color: #4D375D;
  font-size: 200%;
}

.contact-paragraph {
  color: #363636;
}

.contact-img {
  display: block;
  border-radius: 50%;
  height: 25%;
  width: 25%;
  position: relative;
  left: 38%;
  box-shadow: 12px 12px 2px 1px #DFCDC3;
  margin-top: 5%;
  margin-bottom: 3%;
}

.contact-body {
  text-align: center;
  padding: 5%;
}
